<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
>
  <testsuites>
    <testsuite name="ORM Test Suite">
      <exclude>./tests/Modules</exclude>
      <exclude>./tests/Commands</exclude>
      <exclude>./tests/ExampleMultiDatabaseTest.php</exclude>
      <directory>./tests</directory>
    </testsuite>
    <testsuite name="Database Tests">
      <directory>./tests</directory>
      <exclude>./tests/Attributes</exclude>
      <exclude>./tests/Commands</exclude>
    </testsuite>
    <testsuite name="MySQL Tests">
      <directory>./tests</directory>
      <exclude>./tests/Attributes</exclude>
      <exclude>./tests/Commands</exclude>
    </testsuite>
    <testsuite name="PostgreSQL Tests">
      <directory>./tests</directory>
      <exclude>./tests/Attributes</exclude>
      <exclude>./tests/Commands</exclude>
    </testsuite>
    <testsuite name="SQLite Tests">
      <directory>./tests</directory>
      <exclude>./tests/Attributes</exclude>
      <exclude>./tests/Commands</exclude>
    </testsuite>
  </testsuites>

</phpunit>
