<?php

declare(strict_types=1);

namespace {{namespace}};

use Articulate\Modules\Migrations\Generator\BaseMigration;

class {{className}} extends BaseMigration
{
    protected function up(): void
    {
        {{upScript}}
    }

    protected function down(): void
    {
        {{downScript}}
    }
}
